
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
.action{
  color:#707070;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}